@model JulioRivero.Tesis.WebMVC.Models.ImpairmentViewModel

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Impairment = "class = active";
}
<h2 class="text-center">Bienvenido al sistema "@ViewBag.LastNameUser"</h2>
<div style="color:red"> 
    <h2>Eliminar</h2>
    <h3>Estas seguro que quieres eliminar esto?</h3>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions " style="color:red">
            <input type="submit" value="Delete" class="btn btn-danger" /><br/>
        </div>
    }
</div>
<a href="@Url.Action("Index", "Impairment")" class="btn btn-info glyphicon  glyphicon-arrow-left col-md-1 " style="color : white" data-toggle="tooltip" title="Volver a Lista"></a>
