@model JulioRivero.Tesis.WebMVC.Models.ImpairmentViewModel

@{
    ViewBag.Title = "Discapacidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Impairment = "class = active";
}

<div class="container text-center  container-fluid" style="background-color:#EFFBFB;color:#0B3861;">
    <h2>@Html.DisplayFor(model => model.Kind) @Html.DisplayFor(model => model.Name)</h2>
    <p>@Html.DisplayFor(model => model.Description)</p>
</div>
@if (ViewBag.ownData != null)
{
    foreach (var item in ViewBag.ownData)
    {
        <button class="btn btn-info" data-toggle="collapse" data-target="#@item.Id"> @item.Name </button>
    }

    foreach (var item in ViewBag.ownData)
    {
        <div id="@item.Id" class="collapse container">
            <h2 class="text-center">@item.Name </h2>

            <div class="panel panel-primary">
                <div class="panel-heading">INTRODUCCION</div>
                <div class="panel-body">
                    <div>
                        @item.Introduction
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">SINTOMAS</div>
                <div class="panel-body">
                    <div>
                        <span> @item.Symptom </span>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">PREVENCION</div>
                <div class="panel-body">
                    <div>
                        <span> @item.Prevention </span>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    }
}


