@model JulioRivero.Tesis.WebMVC.Models.DeficiencyViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Impairment = "class = active";
}
<h2>Bienvenido al sistema "@ViewBag.LastNameUser"</h2>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DeficiencyViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Symptom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symptom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prevention)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prevention)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
