@model IEnumerable<JulioRivero.Tesis.WebMVC.Models.IntoPreventionViewModel>

@{
    ViewBag.Title = "Caracteristicas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Prevention = "class = active";
}
<div class="text-center">
    <h2>Bienvenido al sistema "@ViewBag.LastNameUser"</h2>
    <h3>Lista de Caracteristicas</h3>
</div>

<div class=" col-md-1">
    <a href="/IntoPrevention/Create" data-toggle="tooltip" title="Crear Caracteristica"><span class="glyphicon glyphicon-plus " aria-hidden="true"></span></a>
</div>

<table class="table  table-condensed table-hover">
    <tr class="active info" id="tablas">
        <th>
            @Html.DisplayNameFor(model => model.Kind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prevention)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prevention)
        </td>
        <td>
            <a href="/IntoPrevention/Edit/@item.Id" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
            @*<text>|</text>*@
            <a href="/IntoPrevention/Delete/@item.Id" data-toggle="tooltip" title="Eliminar"><span class="glyphicon  glyphicon-trash" aria-hidden="true" style="color:red"></span></a>

        </td>
    </tr>
}

</table>
