@model JulioRivero.Tesis.WebMVC.Models.PreventionViewModel

@{
    ViewBag.Title = "Prevención";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Prevention = "class = active";
}

<div class="container text-center  container-fluid" style="background-color:#EFFBFB;color:#0B3861;">
    <h2>@Html.DisplayFor(model => model.Kind) @Html.DisplayFor(model => model.Name)</h2>
    <p>@Html.DisplayFor(model => model.Description)</p>
</div>

@if (ViewBag.ownData != null)
{
    foreach (var item in ViewBag.ownData)
    {
        <button class="btn btn-info" data-toggle="collapse" data-target="#@item.Id"> @item.Title </button>
    }

    foreach (var item in ViewBag.ownData)
    {
        <div id="@item.Id" class="collapse">
            <h2 class="text-center">@item.Title </h2>

            <div class="panel panel-primary">
                <div class="panel-heading">DESCRIPCIOM</div>
                <div class="panel-body">
                    <div>
                        @item.Description
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">PREVENCION</div>
                <div class="panel-body">
                    <div>
                        @item.Prevention
                    </div>
                </div>
            </div>
            <hr />
        </div>
    }
}
