@model IEnumerable<JulioRivero.Tesis.WebMVC.Models.PreventionViewModel>

@{
    ViewBag.Title = "Prevención";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Prevention = "class = active";
}
<div class="text-center">
    <h2>Bienvenido al sistema "@ViewBag.LastNameUser"</h2>
    <h3>Lista de Prevención - Total Visitas: @ViewBag.TotalPrevention</h3>
</div>

<div class=" col-md-1">
    <a href="/Prevention/Create" data-toggle="tooltip" title="Crear prevención"><span class="glyphicon glyphicon-plus " aria-hidden="true"></span></a>
</div>
<table class="table  table-condensed table-hover">
    <tr class="active info" id="tablas">
        <th>
            @Html.DisplayNameFor(model => model.Kind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitCount)
        </td>
        <td>
            <a href="/Prevention/Edit/@item.Id" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
            @*<text>|</text>*@
            <a href="/Prevention/Delete/@item.Id" data-toggle="tooltip" title="Eliminar"><span class="glyphicon  glyphicon-trash" aria-hidden="true" style="color:red"></span></a>
        </td>
    </tr>
}

</table>
