@model JulioRivero.Tesis.WebMVC.Models.RightViewModel

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Right = "class = active";
}
<h2  class="text-center">Bienvenido al sistema "@ViewBag.LastNameUser"</h2>
<div style="color:red">
    <h2>Eliminar</h2>
    <h3>Estas seguro que quieres eliminar esto?</h3>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilePdf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilePdf)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
        </div>
    }
</div>
<a href="@Url.Action("Index", "Right")" class="btn btn-info glyphicon  glyphicon-arrow-left col-md-1 " style="color : white" data-toggle="tooltip" title="Volver a Lista"></a>

