@model IEnumerable<JulioRivero.Tesis.WebMVC.Models.RightViewModel>

@{
    ViewBag.Title = "Derechos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Right = "class = active";
}
<div class="text-center">
    <h2>Bienvenido al sistema "@ViewBag.LastNameUser"</h2>
    <h2>Lista de derechos</h2>
</div>

<div class=" col-md-1">
    <a href="/Right/Create" data-toggle="tooltip" title="Crear Derecho"><span class="glyphicon glyphicon-plus " aria-hidden="true"></span></a>
</div>
<table class="table table-condensed table-hover">
    <tr class="active info" id="tablas">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilePdf)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilePdf)
        </td>
        <td>
            <a href="/Right/Delete/@item.Id" data-toggle="tooltip" title="Eliminar"><span class="glyphicon  glyphicon-trash" aria-hidden="true" style="color:red"></span></a>

        </td>
    </tr>
}

</table>
